.modal.left .modal-dialog {
     position: fixed;
     margin: auto;
     width: 320px;
     height: 100%;
     -webkit-transform: translate3d(0%, 0, 0);
     -ms-transform: translate3d(0%, 0, 0);
     -o-transform: translate3d(0%, 0, 0);
     transform: translate3d(0%, 0, 0);
   }

   .modal.left .modal-content {
     height: 100%;
     border: 0;
     border-radius: 0;
   }

   .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 20px; /* Gap between grid items */
  }